# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# dotenv environment files
.env
.env.*.local

# Parcel-bundler cache
.cache/

# Next.js build output
.next/

# Nuxt.js build / generate output
.nuxt/
dist/

# SvelteKit build output
.svelte-kit/

# Storybook build output
.out/

# Build output
build/
public/build/

# Coverage directory used by tools like istanbul
coverage/

# Temporary folders
tmp/
temp/

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript cache
*.tsbuildinfo
